@use 'utilities/' as *;
@use 'base/base';
@use 'typography/typography';

html {
  background-color: mapGet($color, footer, background);
}

.about {
  max-width: 530px;
  margin: auto;
}

.social {
  display: flex;
  justify-content: space-around;
  max-width: 820px;
  margin: auto;
}

.container {
  margin: auto;
  width: 85%;

  @media (min-width: map-get($breakpoint, mobile)) {
    width: 80%;
  }

  > * {
    @include margins(bottom, 2rem, child);
  }
}

.section {
  > * {
    @include margins(bottom, 1.5rem, child);

    @media (min-width: map-get($breakpoint, tablet)) {
      @include margins(bottom, 3rem, child);
    }
  }

  &:first-of-type {
    background-color: mapGet($color, section-1, background);
    padding: 3rem 0;
  }

  &:last-of-type {
    background-color: mapGet($color, section-2, background);
    padding: 3rem 0 5rem;
  }
}

.card {
  display: block;
  background-color: mapGet($color, polaroids, frame-background);
  padding: 1rem 1rem 0;
  box-shadow: 4px 4px 10px 0.5px mapGet($color, polaroids, box-shadow);
  transition: all 300ms ease-in-out;

  &__img-container {
    background-color: mapGet($color, polaroids, photo-background);
  }

  &__img {
    opacity: 0;

    &-1 {
      animation: fadeIn 2s forwards;
    }

    &-2 {
      animation: fadeIn 3s forwards;
    }

    &-3 {
      animation: fadeIn 7s forwards;
    }

    &-4 {
      animation: fadeIn 5s forwards;
    }

    @keyframes fadeIn {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }

  &__text-container {
    height: 100px;
    @include flex-center;
  }

  &:hover,
  &:focus {
    transform: scale(1.05);
    box-shadow: 8px 8px 15px 10px mapGet($color, polaroids, box-shadow--hover);
  }
}

.nav {
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  list-style: none;

  &__item {
    padding: 0 0.5rem;

    @media (min-width: map-get($breakpoint, mobile)) {
      padding: 0 1rem;
    }

    @media (min-width: map-get($breakpoint, tablet)) {
      padding: 0 2rem;
    }
  }
}

.album {
  max-width: 850px;
  margin: auto;

  > * {
    @include margins(bottom, 1.5rem, child);

    @media (min-width: map-get($breakpoint, tablet)) {
      margin: 0;
    }
  }

  &__img-container {
    @media (min-width: map-get($breakpoint, tablet)) {
      grid-column: 1 / 2;
    }
  }

  &__info {
    @media (min-width: map-get($breakpoint, tablet)) {
      grid-column: 2 / 3;
    }

    > * {
      @include margins(bottom, 1rem, child);
    }
  }

  &__tracklist {
    padding-left: 1.55rem;

    @media (min-width: map-get($breakpoint, desktop)) {
      padding-left: 1.25rem;
    }
  }

  &__track {
    border-bottom: 1px solid mapGet($color, section-2, border);
    padding: 0.5rem 0;

    &::before {
      margin-left: 2rem;
    }
  }

  &__video {
    grid-column: 1 / -1;
  }
}

.grid {
  display: grid;

  &--polaroid-gallery {
    gap: 3rem;
    margin: auto;

    @media (min-width: map-get($breakpoint, tablet)) {
      width: 100%;
      @include two-col;
      max-width: 860px;
    }
  }

  &--two-col {
    @media (min-width: map-get($breakpoint, tablet)) {
      @include two-col;
      gap: 2rem;
    }
  }
}

// embeds
  .embed {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
  }

  .embed--1x1 {
    padding-bottom: 100%;
  }

  .embed--4x3 {
    padding-bottom: 75%;
  }

  .embed--2x1 {
    padding-bottom: 50%;
  }

  .embed {
    iframe, object, embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }

.footer {
  padding: 1rem;
  text-align: center;

  @media (min-width: map-get($breakpoint, tablet)) {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
  }
}
