@use '../utilities/index' as *;

body {
  font-family: mapGet($font, body, family);
  font-size: 1.25rem;

  @media (min-width: map-get($breakpoint, desktop)) {
    font-size: 1.5rem;
  }
}

h1 {
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
  font-size: 3rem;
  line-height: 1;

  @media (min-width: map-get($breakpoint, tablet)) {
    font-size: 4rem;
  }

  @media (min-width: map-get($breakpoint, desktop)) {
    font-size: 5rem;
  }
}

h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: mapGet($font, body, weight, normal);

  @media (min-width: map-get($breakpoint, desktop)) {
    font-size: 3rem;
  }
}

a {
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.section {
  &:first-of-type {
    color: mapGet($color, section-1, text);
  }

  &:last-of-type {
    color: mapGet($color, section-2, text);
  }
}

.centered {
  text-align: center;
}

.social {
  &__icon {
    font-size: 2.5rem;
    color: mapGet($color, section-1, icon);

    &:hover,
    &:focus {
      color: mapGet($color, section-1, icon-hover);
    }

    @media (min-width: map-get($breakpoint, tablet)) {
      font-size: 3rem;
    }
  }
}

.card {
  text-decoration: none;

  &__text-container {
    p {
      color: mapGet($color, polaroids, caption-text);
      font-family: mapGet($font, polaroid-captions, family);
      line-height: 1.5;
      text-align: center;
    }
  }
}

.album {
  &__name {
    line-height: 1;
  }
}

.menu__item {
  a {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.footer {
  font-size: 1rem;
  line-height: 1.5;
  color: mapGet($color, footer, text);
}
