.season--winter {
  --text: #f3ecef;
  --icon: #f4f5e3z;
  --icon--hover: #eedcb6;
  --section-1-background: #0a0a0a;
  --section-2-background: #232323;
  --section-2-track-border: #f3ecef30;
  --footer-background: #0a0a0a;
}

.season--spring {
  --text: #fefae0;
  --icon: #fdf5ad;
  --icon--hover: #ffdf7a;
  --section-1-background: #181f1c;
  --section-2-background: #203023;
  --section-2-track-border: #fefae020;
  --footer-background: #181f1c;
}

.season--summer {
  --text: #fff9cb;
  --icon: #edad6c;
  --icon--hover: #f74f4e;
  --section-1-background: #220810;
  --section-2-background: #521821;
  --section-2-track-border: #f3ecef30;
  --footer-background: #220810;
}

.season--autumn {
  --text: #FEFAE0;
  --icon: #f8b005;
  --icon--hover: #FDD987;
  --section-1-background: #120902;
  --section-2-background: #3b1102;
  --section-2-track-border: #f8b00530;
  --footer-background: #120902;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

body {
  font-size: 16px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

main {
  margin: auto;
}

a {
  color: inherit;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.25rem;
}
@media (min-width: 1200px) {
  body {
    font-size: 1.5rem;
  }
}

h1 {
  font-family: "Cormorant Garamond", serif;
  text-align: center;
  font-size: 3rem;
  line-height: 1;
}
@media (min-width: 700px) {
  h1 {
    font-size: 4rem;
  }
}
@media (min-width: 1200px) {
  h1 {
    font-size: 5rem;
  }
}

h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
}
@media (min-width: 1200px) {
  h2 {
    font-size: 3rem;
  }
}

a {
  text-decoration: underline;
}
a:hover, a:focus {
  text-decoration: none;
}

.section:first-of-type {
  color: var(--text);
}
.section:last-of-type {
  color: var(--text);
}

.centered {
  text-align: center;
}

.social__icon {
  font-size: 2.5rem;
  color: var(--icon);
}
.social__icon:hover, .social__icon:focus {
  color: var(--icon--hover);
}
@media (min-width: 700px) {
  .social__icon {
    font-size: 3rem;
  }
}

.card {
  text-decoration: none;
}
.card__text-container p {
  color: #000;
  font-family: "Gloria Hallelujah", cursive;
  line-height: 1.5;
  text-align: center;
}

.album__name {
  line-height: 1;
}

.menu__item a {
  text-decoration: none;
}
.menu__item a:hover, .menu__item a:focus {
  text-decoration: underline;
}

.footer {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text);
}

html {
  background-color: var(--footer-background);
}

.about {
  max-width: 530px;
  margin: auto;
}

.social {
  display: flex;
  justify-content: space-around;
  max-width: 820px;
  margin: auto;
}

.container {
  margin: auto;
  width: 85%;
}
@media (min-width: 400px) {
  .container {
    width: 80%;
  }
}
.container > * {
  margin-bottom: 2rem;
}
.container > *:last-child {
  margin-bottom: 0;
}

.section > * {
  margin-bottom: 1.5rem;
}
.section > *:last-child {
  margin-bottom: 0;
}
@media (min-width: 700px) {
  .section > * {
    margin-bottom: 3rem;
  }
  .section > *:last-child {
    margin-bottom: 0;
  }
}
.section:first-of-type {
  background-color: var(--section-1-background);
  padding: 3rem 0;
}
.section:last-of-type {
  background-color: var(--section-2-background);
  padding: 3rem 0 5rem;
}

.card {
  display: block;
  background-color: #F3F2F0;
  padding: 1rem 1rem 0;
  box-shadow: 4px 4px 10px 0.5px #333333;
  transition: all 300ms ease-in-out;
}
.card__img-container {
  background-color: #000;
}
.card__img {
  opacity: 0;
}
.card__img-1 {
  animation: fadeIn 2s forwards;
}
.card__img-2 {
  animation: fadeIn 3s forwards;
}
.card__img-3 {
  animation: fadeIn 7s forwards;
}
.card__img-4 {
  animation: fadeIn 5s forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.card__text-container {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card:hover, .card:focus {
  transform: scale(1.05);
  box-shadow: 8px 8px 15px 10px rgba(0, 0, 0, 0.2);
}

.nav {
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  list-style: none;
}
.menu__item {
  padding: 0 0.5rem;
}
@media (min-width: 400px) {
  .menu__item {
    padding: 0 1rem;
  }
}
@media (min-width: 700px) {
  .menu__item {
    padding: 0 2rem;
  }
}

.album {
  max-width: 850px;
  margin: auto;
}
.album > * {
  margin-bottom: 1.5rem;
}
.album > *:last-child {
  margin-bottom: 0;
}
@media (min-width: 700px) {
  .album > * {
    margin: 0;
  }
}
@media (min-width: 700px) {
  .album__img-container {
    grid-column: 1/2;
  }
}
@media (min-width: 700px) {
  .album__info {
    grid-column: 2/3;
  }
}
.album__info > * {
  margin-bottom: 1rem;
}
.album__info > *:last-child {
  margin-bottom: 0;
}
.album__tracklist {
  padding-left: 1.55rem;
}
@media (min-width: 1200px) {
  .album__tracklist {
    padding-left: 1.25rem;
  }
}
.album__track {
  border-bottom: 1px solid var(--section-2-track-border);
  padding: 0.5rem 0;
}
.album__track::before {
  margin-left: 2rem;
}
.album__video {
  grid-column: 1/-1;
}

.grid {
  display: grid;
}
.grid--polaroid-gallery {
  gap: 3rem;
  margin: auto;
}
@media (min-width: 700px) {
  .grid--polaroid-gallery {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    max-width: 860px;
  }
}
@media (min-width: 700px) {
  .grid--two-col {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

.embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed--1x1 {
  padding-bottom: 100%;
}

.embed--4x3 {
  padding-bottom: 75%;
}

.embed--2x1 {
  padding-bottom: 50%;
}

.embed iframe, .embed object, .embed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.footer {
  padding: 1rem;
  text-align: center;
}
@media (min-width: 700px) {
  .footer {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem;
  }
}
