// spacing
  @mixin margins($position, $amount, $last-of) {
    margin-#{$position}: $amount;

    &:last-#{$last-of} {
      margin-#{$position}: 0;
    }
  }
  
// positioning
  @mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

// shapes
  @mixin full-circle {
    border-radius: 100%;
  }

// grid
  @mixin fluid-grid($min, $max) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax($min, $max));
    grid-auto-flow: row dense;
    align-items: start;
  }

  @mixin two-col {
    grid-template-columns: repeat(2, 1fr);
  }

  @mixin three-col {
    grid-template-columns: repeat(3, 1fr);
  }

  @mixin four-col {
    grid-template-columns: repeat(4, 1fr);
  }

// gradients

  // transitions on gradients
    // this just declares all of the positions, indexes and opacities. you still need to add the starting background color into the top ruleset and the gradient into the :before ruleset
    @mixin gradient-transition-hover-opacity($transition){
      position: relative;
      z-index: 1;
      
      &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        opacity: 0;
        transition: $transition;
      }

      &:hover,
      &:focus {
        &::before {
          opacity: 1;
        }
      }
    }
      

  // linear gradients for text
    @mixin text-gradient {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

// toggle icon bars
  // bars
    @mixin toggle-icon-bars($width, $height, $color, $margins, $border-radius) {
      width: $width;
      height: $height;
      background-color: $color;
      margin-bottom: $margins;
      border-radius: $border-radius;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

// testing
  @mixin test-border($px, $color) {
    border: #{$px}px solid $color;
  }

// content dividing lines
  @mixin dividing-line($thickness, $width) {
    height: $thickness;
    width: $width;
  }
    
// project specific mixins 


