$breakpoint: (
  mobile: 400px,
  tablet: 700px,
  desktop: 1200px,
);

// seasonal color themes
  .season--winter {
    --text: #f3ecef;
    --icon: #f4f5e3z;
    --icon--hover: #eedcb6;
    --section-1-background: #0a0a0a;
    --section-2-background: #232323;
    --section-2-track-border: #f3ecef30;
    --footer-background: #0a0a0a;
  }

  .season--spring {
    --text: #fefae0;
    --icon: #fdf5ad;
    --icon--hover: #ffdf7a;
    --section-1-background: #181f1c;
    --section-2-background: #203023;
    --section-2-track-border: #fefae020;
    --footer-background: #181f1c;
  }

  .season--summer {
    --text: #fff9cb;
    --icon: #edad6c;
    --icon--hover: #f74f4e;
    --section-1-background: #220810;
    --section-2-background: #521821;
    --section-2-track-border: #f3ecef30;
    --footer-background: #220810;
  }

  .season--autumn {
    --text: #FEFAE0;
    --icon: #f8b005;
    --icon--hover: #FDD987;
    --section-1-background: #120902;
    --section-2-background: #3b1102;
    --section-2-track-border: #f8b00530;
    --footer-background: #120902;
  }

$color: (
  polaroids: (
    frame: #F3F2F0,
    frame-background: #F3F2F0,
    photo-background: #000,
    caption-text: #000,
    box-shadow: lighten(#000, 20%),
    box-shadow--hover: rgba(#000, 20%),
  ),

  section-1: (
    background: var(--section-1-background),
    text: var(--text),
    icon: var(--icon),
    icon-hover: var(--icon--hover)
  ),

  section-2: (
    background: var(--section-2-background),
    text: var(--text),
    border: var(--section-2-track-border),
  ),

  footer: (
    background: var(--footer-background),
    text: var(--text),
  )
);

$font: (
  body: (
    family: ('Source Sans Pro', sans-serif),
    size: (),
    weight: (
      normal: 400,
      semi-bold: 600,
      bold: 700,
    ),
  ),

  logo: (
    family: ('Cormorant Garamond', serif),
    size: (),
    weight: (
      medium: 500,
      bold: 700,
    ),
    line-height: (
      small: 40px,
      large: 60px,
    ),
  ),

  polaroid-captions: (
    family: ('Gloria Hallelujah', cursive),
  )
)
